<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428334752876-rgn4ceicjlulvr8r95vb004tjj0d3b86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428334752876-rgn4ceicjlulvr8r95vb004tjj0d3b86</string>
	<key>API_KEY</key>
	<string>AIzaSyDg9Hj1DH-wiCK3zY6cyNB0aDWtsrlFqQg</string>
	<key>GCM_SENDER_ID</key>
	<string>428334752876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NatMe9.BMW-Games</string>
	<key>PROJECT_ID</key>
	<string>bmw-games</string>
	<key>STORAGE_BUCKET</key>
	<string>bmw-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428334752876:ios:50036341edffe876362449</string>
	<key>DATABASE_URL</key>
	<string>https://bmw-games-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>